In [2]:
import pandas as pd
import os

from constants import (
    QQQ_PROCESSED_DATA_FILE
)

In [3]:
# Get processed data
os.chdir('..')
df = pd.read_csv(f'{os.getcwd()}/data/QQQ_processed.csv')

In [4]:
df.head()

         Date       Open     Close  Weekly Returns
0  1999-03-08  51.125000  50.06250          -2.078
1  1999-03-15  50.437500  51.21875           1.549
2  1999-03-22  51.437500  51.75000           0.608
3  1999-03-29  52.375000  53.56250           2.267
4  1999-04-05  54.429688  55.81250           2.541